body {
  margin: 0 auto;
  font-family: 'Muli', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.table {
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  width: 700px;
  background-color: #ddd;
}

.wrap {
  background-color: #eee;
}
