body {
  margin: 0 auto;
  font-family: 'Muli', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.root {
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  width: 450px;
  background-color: #ddd;
}

.wrap {
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
  margin: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-gap: 15px;
  align-items: center;
}
