body {
  margin: 0;
  padding: 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background: #ccc;
  font-weight: bold;
  font-size: 18px;
}
tbody {
  background: #eee;
}
td,th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.completed {
  background-color: rgb(82, 155, 82);
}

.in-process {
  background-color: rgb(207, 113, 113);
}