 body {
 }

#todo-list {
  border-collapse: collapse;
  .column-head {
    border: 1px solid black;
    background-color: #cccccc;
  }
  .TODOitem, .userName, .item-status {
    border: 1px solid black;
  }
}
