body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

h1 {
  margin-left: 650px;
}

table {
  margin: 50px auto;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
}
