a {
  transition: color 0.7s;
  &:hover {
    color: blueviolet !important;
  }
}

tbody {
  tr {
    .positive ,
    .negative {
      transition: background-color 0.7s !important;
    }
    transition: background-color 0.7s;
  }
}
