table {
  border-spacing: 0;
  text-align: left;
  font-size: 18px;
  border: 1px solid black;
  margin: 0 auto;

  thead {
    background-color: #ccc;
  }

  td {
    border: 1px solid black;
    padding: 5px;
  }

  a {
    color: black;
  }
}